.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: #f5f8fa;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  box-sizing: content-box;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}
